.caution{
	position: absolute;
	left: 5%; bottom: 30px;
	margin: 10px;
	padding: 5px 10px;
	background-color: rgba($color: #FFFFFF, $alpha: 0.1);
	border-radius: 5px;
	color: white;
	font-family: Comfortaa, 'M PLUS Rounded 1c';
}